:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --accent-blue-color: #204FFE; /* #09237E; */
    --dark-grey-color: #2F2F2F;
    --light-grey-color: #B3B3B3;
    --background-color: #060412;
    --warning-rose-color: #EB3795;
  }