.blockHero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

/* text web adaptive */
.textConteiner {
  flex: 1; 
  display: flex;
  align-items: end;
  padding: clamp(0px, 159px, 5px) 0 clamp(30px, 0px, 15px) clamp(120px, 0px, 0px);
  text-align: left;
  font-family: var(--body-font);
  font-size: var(--body-web-font-size);
  color: var(--color-font);
  order: 2;
}

/* hero animation img */
.imageSlider {
  display: flex;
  justify-content: end;
  order: 3;
  flex-shrink: 0; 
  flex: 1; 
  padding-right: 120px;
}

.firstImageSlider,
.secondImageSlider {
  width: 100%;
  max-width: 233px;
  min-height: 311px;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  overflow: hidden;
}

.firstImageSlider {
  border: 1px solid var(--accent-blue-color);
}

.secondImageSlider {
  border-top: 1px solid var(--accent-blue-color);
  border-right: 1px solid var(--accent-blue-color);
  border-bottom: 1px solid var(--accent-blue-color);
}

.firstImageSlider img,
.secondImageSlider img {
  width: 370px;
  height: auto;
}

.fade {
  position: absolute;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.visible {
  opacity: 1;
}

/* running "DEXOLA CAMP */
.runningText {
  height: 426px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  order: 5;
  position: relative;

  font-family: var(--kanit-font-family);
  font-weight: var(--font-weight-medium);
  font-size: 340px;
  line-height: 426px;
  text-align: left;
}

.runningText::before {
  content: "DEXOLA CAMP";

  white-space: nowrap;
  position: absolute;
  animation: slide 10s linear infinite;
}

/* blue lines */
.lineTop,
.lineBottom {
  position: relative;
  height: 1px;
  width: 100%;
  background-color: var(--accent-blue-color);
}

.lineTop {
  top: 1px;
  order: 1;
}

.lineBottom {
  top: -1px;
  order: 4;
}

/* ranning text with animation */
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .blockHero {
    padding: 0 24px;
    border-top: 0;
  }

  .imageSlider {
    display: flex;
    width: 100%;
    flex: 1;
    padding-right: 0; 
    margin-top: 9px;
    max-width: calc(100% - 48px);
    order: 1;
    justify-content: center;
  }

  .firstImageSlider,
  .secondImageSlider {
    max-width: 50%;
    height: auto;
  }

  .textConteiner {
    width: 100%;
    max-width: calc(100% - 48px);
    padding: clamp(0px, 159px, 5px) 0 clamp(30px, 0px, 15px) 0;
    font-size: var(--body-tablet-font-size);
    order: 3;
  }
  .runningText {
    order: 2;
    font-size: 280px;
    height: 351px;
    line-height: 351px;
  }

  .lineTop,
  .lineBottom {
    display: none;
  }
}

@media (max-width: 480px) {
  .textConteiner {
    font-size: var(--body-mobile-font-size);
    padding: 0;
  }
  .runningText {
    font-size: 120px;
    height: 150px;
    line-height: 150px;
  }
}
