@import './../../styles/colors.css';


.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 120px;
  background-color: var(--background-color);

  top: 0;
  z-index: 1;
}
.buttonName {
  margin: 0 4px;
}


@media (max-width: 768px) {
  .header {
    padding: 15px 32px;
  }
}