/* TODO position h3 subtitle top */

.blockFeatures {
  display: flex;
  flex-wrap: wrap;
  padding: 0 120px;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 90px auto;
  position: relative;
}

.description p {
  max-width: 601px;
  height: auto;
  text-align: left;
  letter-spacing: -0.36px;
  color: var(--light-grey-color);
  font-size: var(--body-web-font-size);
  font-family: var(--body-font);
}

.description h3 {
  width: 189px;
  text-align: left;
  align-items: start;
  letter-spacing: -0.48px;
  color: var(--color-font);
  font-size: var(--subTitle-web-font-size);
  font-family: var(--subTitle-font);
  padding-right: 24px;
}


.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media (max-width: 768px) {
  .blockFeatures {
    padding: 0 24px;
  }
  .description p {
    font-size: var(--body-tablet-font-size);
  }
  .description h3 {
    font-size: var(--subTitle-tablet-font-size);
  }
}

@media (max-width: 480px) {

  .description {
    flex-direction: column;
  }
  .description p {
    font-size: var(--body-tablet-font-size);
  }
  .description h3 {
    font-size: var(--subTitle-mobile-font-size);
  }
  .cards{
    flex-direction: column;
  }
}
