@import "./../../../styles/colors.css";

.firstImageSlider {

    width: 233px;
    max-width: 20vw;
    min-height: 311px;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    border: 1px solid var(--accent-blue-color);
  
  }
  .firstImageSlider img {
    width: 370px;
    height: 370px;
}

.secondImageSlider {

  width: 233px;
  max-width: 18vw;
  min-height: 311px;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  overflow: hidden;
  border-top: 1px solid var(--accent-blue-color);
  border-right: 1px solid var(--accent-blue-color);
  border-bottom: 1px solid var(--accent-blue-color);
}
.secondImageSlider img {
  width: 370px;
  height: 370px;
}

  .fade {
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  
  .visible {
    opacity: 1;
  }
  