
.header {
  max-width: 1440px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 120px;
  background-color: var(--background-color);

  top: 0;
  z-index: 1;
}
.buttonName {
  margin: 0 4px;
}


@media (max-width: 820px) {
  .header {
    padding: 15px 24px;
  }
}

@media (max-width: 480px) {
  .header {
    top: 48px;
    padding: 0 24px;
  }
}